<footer>
	{% if page.hasmath %}
		<!-- Parse the Latex divs with Katex-->
		<script type="text/javascript">
                        inlineExps = document.querySelectorAll('script[type=math\\/tex]');
                        for(var i = 0; i < inlineExps.length; i++){
                            expression = inlineExps[i]
                            expression.outerHTML = katex.renderToString(expression.text, {displayMode: false});
                        }

                        fullExps = document.querySelectorAll('script[type=\'math\\/tex; mode=display\']');
                        for(var expression = 0; i < fullExps.length; i++){
                            expression.outerHTML = katex.renderToString(expression.text.replace(/%.*/g, ''), {displayMode: false});
                        }
                        
                
		</script>
	{% endif %}
</footer>
